.container {
  width: 400px;
  margin: 20px auto;
  text-align: center;
  font-family: Arial, sans-serif;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.dropZone {
  border: 2px dashed #ccc;
  border-radius: 10px;
  padding: 20px;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.dragging {
  border-color: var(--color-primary);
}

.uploadIcon {
  font-size: 30px;
  margin-bottom: 10px;
}

.button {
  background-color: var(--color-primary);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  margin-top: 10px;
}

.input {
  display: none;
}

.fileName {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}
