.title {
  font-size: 20px;
  font-weight: bold;
}

.dropZone {
  border: 2px dashed #ccc;
  border-radius: 10px;
  padding: 20px;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.3s ease;
  text-align: center;
}

.dragging {
  border-color: var(--color-primary);
}

.uploadIcon {
  font-size: 30px;
  & p {
    color: #4b5563;
    font-size: 16px;
  }
}

.button {
  background-color: var(--color-primary);
  color: white;
  padding: 4px 22px;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  margin-top: 10px;
  font-size: 16px;
}

.input {
  display: none;
}

.fileName {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}
