.root {
  background-color: var(--color-tertiary);
  padding: 24px;
  border-radius: 12px;
  overflow: hidden;
}
.title {
  font-size: 20px;
  color: #1f2937;
  font-style: uppercase;
  margin-bottom: 16px;
}
