.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  font-size: 14px;
  background: #fff;
  resize: vertical;
  min-height: 100px;
  max-height: 200px;
}

.buttonContainer {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}
