.container {
  display: grid;
  gap: 20px;
}

.divider {
  display: block;
  height: 16px;
}

.header {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  & h2 {
    font-size: 20px;
    color: #1f2937;
  }
  & strong {
    font-size: 30px;
    color: var(--color-primary);
    font-weight: 800;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 16px;
  }
}
