#root {
  max-width: 1280px;
  margin: 0 auto;
  min-height: 100vh;
}

.container {
  background-color: var(--color-secondary);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  align-content: space-between;
  height: 100%;
}
